# Data Analysis

In [12]:
# Importation of libraries
import numpy as np
import pandas as pd
import tabulate

In [4]:
# Importing database
df = pd.read_csv("../database/2023_T4_sites_Metropole.csv", sep=";")
df.head()

,code_op,nom_op,num_site,id_site_partage,id_station_anfr,x,y,latitude,longitude,nom_reg,...,site_ZB,site_DCC,site_strategique,site_capa_240mbps,date_ouverturecommerciale_5g,site_5g_700_m_hz,site_5g_800_m_hz,site_5g_1800_m_hz,site_5g_2100_m_hz,site_5g_3500_m_hz
0,20801,Orange,00000001A1,NaN,0802290015,687035,6985761,"49,97028","2,81944",Hauts-de-France,...,0,0,0,0,NaN,0,0,0,0,0
1,20801,Orange,00000001B1,NaN,0642290151,422853,6249263,"43,28861","-0,41389",Nouvelle-Aquitaine,...,0,0,0,1,2020-12-14,0,0,0,1,0
2,20801,Orange,00000001B2,NaN,0332290026,416932,6422196,"44,84112","-0,58333",Nouvelle-Aquitaine,...,0,0,0,1,2021-02-22,0,0,0,0,1
3,20801,Orange,00000001B3,NaN,0472290005,511106,6349234,"44,21666","0,63556",Nouvelle-Aquitaine,...,0,0,0,1,NaN,0,0,0,0,0
4,20801,Orange,00000001C1,NaN,0512290147,836824,6889450,"49,09028","4,87333",Grand Est,...,0,0,0,1,NaN,0,0,0,0,0

## Important facts about database

In [22]:
sites = list(df["num_site"])
nb_sit = len(sites)

regions = list(df["nom_reg"])
nb_reg = len(np.unique(regions))

departments = list(df["nom_dep"])
nb_dep = len(np.unique(departments))

cities = list(df["nom_com"])
nb_cit = len(np.unique(cities))

providers = list(df["nom_op"])
nb_pro = len(np.unique(providers))

# print(nb_sit) # number of sites

# print(nb_sit/nb_reg) # mean number of sites per region

# print(nb_sit/nb_dep) # mean number of sites per department

# print(nb_sit/nb_cit) # mean number of sites per city

# for reg in np.unique(regions): # number of sites per region
#     print(reg + " : " + str(regions.count(reg)))

# for dep in np.unique(departments): # number of sites per department
#     print(dep + " : " + str(departments.count(dep)))

# for pro in np.unique(providers): # number of sites per provider
#     print(pro + " : " + str(providers.count(pro)))

# for cit in np.unique(cities): # number of sites per cities (for cities with a number >= 20)
#     count = cities.count(cit)
#     if (count >= 20):
#         nb_cit += 1
#         print(cit + " : " + str(count))

df_proPerReg = pd.DataFrame({
    "nom_reg" : np.unique(regions),
    "Free Mobile"   : [None for i in range(nb_reg)],
    "SFR"   : [None for i in range(nb_reg)],
    "Orange"   : [None for i in range(nb_reg)],
    "Bouygues Telecom"   : [None for i in range(nb_reg)],
    "Total"   : [None for i in range(nb_reg)]
})

for reg in np.unique(regions): # number of sites per region per provider
    for pro in np.unique(providers):
        count = list(df.loc[df["nom_reg"]==reg, "nom_op"]).count(pro)
        df_proPerReg.loc[df_proPerReg["nom_reg"]==reg, pro] = count
        # print(reg + ", " + pro + " : " + str(count))
    df_proPerReg.loc[df_proPerReg["nom_reg"]==reg, "Total"] = regions.count(reg)

df_proPerDep = pd.DataFrame({
    "nom_dep" : np.unique(departments),
    "Free Mobile"   : [None for i in range(nb_dep)],
    "SFR"   : [None for i in range(nb_dep)],
    "Orange"   : [None for i in range(nb_dep)],
    "Bouygues Telecom"   : [None for i in range(nb_dep)],
    "Total"   : [None for i in range(nb_dep)]
})

for dep in np.unique(departments): # number of sites per department per provider
    for pro in np.unique(providers):
        count = list(df.loc[df["nom_dep"]==dep, "nom_op"]).count(pro)
        df_proPerDep.loc[df_proPerDep["nom_dep"]==dep, pro] = count
    df_proPerDep.loc[df_proPerDep["nom_dep"]==dep, "Total"] = departments.count(dep)

In [13]:
df_proPerReg

,nom_reg,Free Mobile,SFR,Orange,Bouygues Telecom,Total
0,Auvergne-Rhône-Alpes,3563,3665,3963,3678,14869
1,Bourgogne-Franche-Comté,2025,1834,2077,1807,7743
2,Bretagne,1165,1162,1563,1148,5038
3,Centre-Val de Loire,1255,1151,1423,1163,4992
4,Corse,221,306,305,298,1130
5,Grand Est,2750,2661,3186,2659,11256
6,Hauts-de-France,2115,1808,2580,1931,8434
7,Normandie,1211,1165,1456,1137,4969
8,Nouvelle-Aquitaine,2880,2777,3403,2743,11803
9,Occitanie,2778,2955,3486,2933,12152
10,Pays de la Loire,1372,1332,1690,1345,5739
11,Provence-Alpes-Côte d'Azur,1750,2384,2240,2113,8487
12,Île-de-France,2864,2818,3168,3376,12226

In [15]:
nb_sit_2g = sum(df["site_2g"])
print(nb_sit_2g)

nb_sit_3g = sum(df["site_3g"])
print(nb_sit_3g)

nb_sit_4g = sum(df["site_4g"])
print(nb_sit_4g)

nb_sit_5g = sum(df["site_5g"])
print(nb_sit_5g)

60638
107753
108399
49640

In [32]:
results = open("data_numbers.md", "w")

results.write("# Analyse des données\n")

results.write("## Chiffres sur les stations de base :\n")

results.write("### Chiffres généraux :\n")
results.write("|||\n|---|---|\n")
results.write("| Stations de base | " + str(nb_sit) + " | \n")
results.write("| Stations de base/région (moyenne) | " + str(round(nb_sit/nb_reg)) + " |\n")
results.write("| Stations de base/département (moyenne) | " + str(round(nb_sit/nb_dep)) + " |\n")
results.write("| Stations de base/ville (moyenne) | " + str(round(nb_sit/nb_cit)) + " |\n")

results.write("### Stations par opérateurs :\n")
results.write("|Opérateur|Nb de stations|\n|---|---|\n")
for pro in np.unique(providers):
    results.write("| " + pro + " | " + str(providers.count(pro)) + " | \n")

results.write("### Stations par régions, par opérateurs :\n")
results.write(df_proPerReg.to_markdown(index=False) + "\n")

results.write("### Stations par départements, par opérateurs :\n")
results.write(df_proPerDep.to_markdown(index=False) + "\n")

results.write("### Type de réseau :\n")
results.write("|Type de réseau|Nb de stations|\n|---|---|\n")
results.write("| 2g | " + str(nb_sit_2g) + " | \n")
results.write("| 3g | " + str(nb_sit_3g) + " | \n")
results.write("| 4g | " + str(nb_sit_4g) + " | \n")
results.write("| 5g | " + str(nb_sit_5g) + " | \n")

results.close()

# Contents of the database

In [ ]:
# print(df.dtypes)

In [ ]:
# for col_name in df.columns:
#     print(col_name + " : " + str(df[col_name].dtype) + " (" + str(df[col_name].notnull().count()) + ")")